#Card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid rebeccapurple;
    margin: 8px;
    border-radius: 1rem;
    padding-bottom: 13px;
    flex-basis: 24%;
}
#Card .name{
    font-size: 21px;
    margin: 17px 0;
    font-family: sans-serif;
}
#Card .email{
    margin: 0;
    cursor: pointer;
}
#Card .bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 285px;
    width: 100%;
    background-position: center;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}