*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.heading{
    margin: 0;
    padding: 33px 0;
    font-size: 37px;
    text-align: center;
}
.inner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}
.verticals{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.verticals > p{
    padding: 0 15px;
    text-align: center;
    color: grey;
    line-height: 23px;
    margin: 8px 0;
}
.verticals > img{
    width: 65px;
}
.learn-btn{
    padding: 14px 25px;
    border: none;
    margin: 0 3px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
    font-weight: 600;
}
.white-btn{
    background-color: white;
}
.yellow-btn{
    background-color: yellow;
}
 .purple-btn{
    background-color: rebeccapurple;
    color: white;
}

/* ------------------------------------------------------------------------------------- */
nav{
    width: 50%;
    /* margin: auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul {
    display: flex;
    margin: 0;
}
nav li{
    list-style: none;
    padding: 19px 8px;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
nav a:hover{
    color: yellow;
}
nav #mainlink{
    font-size: 28px;
    font-weight: 700;
}
#HOME{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 88vh;
}
#HOME::before{
    content: '';
    background: url('./media/john-towner-JgOeRuGD_Y4-unsplash.jpg')no-repeat center center/cover;
    background-position: inherit;
    width: 100%;
    height: 88%;
    z-index: -1;
    position: absolute;
    top: 0;
}
#HOME >div{
    height: 100%;
    color: white;
    margin-top: 2rem;
    margin-left: -11rem;
    display: flex;
    flex-direction: column;
}
#HOME div > h1{
    font-size: 3rem;
    margin-bottom: 16px;
}

/* WELCOME SECTION */
#WELCOME > .container{
    width: 55%;
    margin: auto;
    padding: 33px 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
}
#WELCOME .heading{
    padding: 0;
}
#WELCOME > .container .umbrella{
    display: flex;
    justify-content: center;
    align-items: center;
}
#WELCOME > .container .umbrella > p{
    color: grey;
    font-size: 27px;
}
#WELCOME .umbrella > img{
    width: 28%;
}
/* PROJECTS SECTION */
#PROJECTS {
    display: flex;
    flex-direction: column;
}
#PROJECTS .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#PROJECTS .container .card{
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,0.1);
}
#PROJECTS .container .card img{
    height: 451px;
}
#PROJECTS .project-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    border-right: 0.5px solid rgba(0,0,0,0.1);
}
#PROJECTS .project-info > h1{
    margin: 0;
    font-size: 18px;
}
#PROJECTS .project-info > p{
    color: rgba(0,0,0,0.5);
    font-size: 13px;
}
#PROJECTS .project-btn{
    width: max-content;
}
/* PRICING SECTON */
#PRICING .business{
    border-right: 0.5px solid rgba(0,0,0,0.1);
    border-left: 0.5px solid rgba(0,0,0,0.1);
}
#PRICING .verticals{
    padding: 0 20px;
}
#PRICING .verticals h4{
    margin: 5px 0;
}
